<!DOCTYPE html>
<html>
<head>
  <title>selfsearch: personal search utility - beatobongco.com</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <div id="app">
      <div class="message" v-if="isLoading">{{message}}</div>
      <div v-else>
        <div class="flex">
          <h1>selfsearch</h1>
          <p class="last-updated">Last pulled: {{lastPull}} <button @click="refresh">Refresh</button></p>
        </div>
        <div class="flex">
          <input type="text" name="query" v-model="query" @keyup.enter="search" placeholder="Search...">
          <button class="btn-search" v-on:click="search">Go</button>
        </div>
        <div class="results">
          <ul v-if="results.length > 0">
            <transition-group appear name="trn-results" tag="div">
              <li v-for="res in results" :key="res.url">
                <div>
                  <a class="title" :href="res.url">{{res.title}}</a>
                  <ul class="highlights">
                    <li v-for="hl in res.highlights" v-html="hl"></li>
                  </ul>
                </div>
              </li>
            </transition-group>
          </ul>
          <p v-else-if="!firstRun">No results.</p>
        </div>
        <footer>
          <div><small>---</small></div>
          <small>Made with 🔥 by <a href="https://beatobongco.com/UI-Kata/">Beato Bongco</a></small>
        </footer>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.4/lunr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.5.3/localforage.min.js"></script>
  <script src="selfsearch.js"></script>
</body>
</html>
