<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    .highlight {
      background-color: yellow;
    }
  </style>
</head>
<body>
  <h1>selfsearch</h1>
  <div id="app">
    <p>Last pulled: {{lastPull}} <button @click="refresh">Refresh</button></p>
    <input type="text" name="query" v-model="query" @keyup.enter="search">
    <button v-on:click="search">Go</button>
    <ul v-if="results.length > 0">
      <li v-for="res in results">
        <div>
          <a :href="res.url">{{res.title}}</a>
          <ul>
            <li v-for="hl in res.highlights" v-html="hl"></li>
          </ul>
        </div>
      </li>
    </ul>
    <p v-else>No results.</p>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.4/lunr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.5.3/localforage.min.js"></script>
  <script src="selfsearch.js"></script>
</body>
</html>
