<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    .highlight {
      background-color: yellow;
    }
  </style>
</head>
<body>
  <h1>selfsearch</h1>
  <div id="app">
    <input type="text" name="query" v-model="query" @keyup.enter="search">
    <button v-on:click="search">Go</button>
    <ul v-if="results">
      <li v-for="res in results">
        <div>
          <a :href="res.url">{{res.title}}</a>
          <ul>
            <li v-for="hl in res.highlights" v-html="hl"></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.4/lunr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.5.3/localforage.min.js"></script>
  <script>
    'use strict'

    // OPTIONS

    var CHR_BUFFER = 50

    // todo: cache stuff in localstorage but provide a button to refresh cache
    // do promises to call lunr after the store is created
    // https://lunrjs.com/guides/index_prebuilding.html
    // TODO: highlighting https://olivernn.github.io/moonwalkers/

    var store = null
    var idx = null

    String.prototype.splice = function(idx, rem, str) {
      return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem))
    }

    function buildLunr() {
      idx = lunr(function() {
        // this.field('title')
        this.field('body')
        for (var prop in store) {
          this.add(store[prop])
        }
      })
      localforage
        .setItem('store', JSON.stringify(store))
        .then(function() {
          console.log('store saved locally')
        })
      localforage
        .setItem('lunr', JSON.stringify(idx))
        .then(function() {
          console.log('lunr built and saved locally')
        })
    }

    function createBookStore() {
      var store = {}
      var deferreds = []
      $.get('https://beatobongco.com/book-highlights/', function(resp) {
        var tempHTML = document.createElement('html')
        tempHTML.innerHTML = resp
        $('.entry a', tempHTML).each(function(i, obj) {
          var href = $(obj).attr('href')
          if (href.startsWith('book')) {
            var fullURL = 'https://beatobongco.com/book-highlights/' + href
            deferreds.push(
              $.get(fullURL, function(resp2) {
                var rawNotes = document.createElement('html')
                rawNotes.innerHTML = resp2
                var notesText = $('#raw-notes', rawNotes).text()
                var bookTitle = notesText.split('\n')[2]
                if (!notesText.startsWith('Bought physical copy.')) {
                  console.log('Loading...')
                  store[fullURL] = {
                    'id': fullURL,
                    'title': bookTitle,
                    'body': notesText
                  }
                }
              })
            )
          }
        }) //each
        $.when.apply($, deferreds).then(function() {
          buildLunr()
        })
      })
      return store
    }

    function init() {
      localforage
        .getItem('lunr')
        .then(function(value) {
          if (value) {
            console.log('Existing lunr found')
            idx = lunr.Index.load(JSON.parse(value))
            localforage
              .getItem('store')
              .then(function (value) {
                store = JSON.parse(value)
              })
          } else {
            console.log('Creating new lunr')
            store = createBookStore()
          }
        })
    }

    var app = new Vue({
      el: '#app',
      data: {
        query: '',
        results: []
      },
      methods: {
        search: function() {
          this.results = []
          var res = idx.search(this.query)
          for (var i = 0; i < res.length; i++) {
            var k = res[i].ref

            var matchdata = res[i]['matchData']['metadata']
            var indexes = []
            console.log(matchdata)

            for (var m in matchdata) {
              indexes.push({
                word: m,
                index: store[k].body.toLowerCase().indexOf(m)
              })
            }

            var highlights = []

            for (var j = 0; j < indexes.length; j++) {
              var _index = indexes[j].index
              var _word = indexes[j].word

              var start = _index - CHR_BUFFER
              start = start > -1 ? start : 0

              var end = _index + CHR_BUFFER + 1
              end = end < store[k].body.length ? end : store[k].body.length

              var _highlight = store[k].body.slice(start, end)
              var tba = '<span class="highlight">'
              var hlIndex = _highlight.toLowerCase().indexOf(_word)
              _highlight = _highlight.splice(hlIndex, 0, tba)
              _highlight = _highlight.splice(hlIndex + _word.length + tba.length, 0, '</span>')
              highlights.push('...' + _highlight + '... ')
            }

            this.results.push({
              url: k,
              title: store[k].title,
              highlights: highlights
            })
          }
        }
      }
    })

    init()
  </script>
</body>
</html>
